@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.table-container {
  padding: 20px;
  background-color: #000;
  min-height: 80vh;
}

.ant-table {
  background-color: #000;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

.ant-table-thead > tr > th {
  background-color: #333;
  color: #fff;
}

.ant-table-tbody > tr > td {
  background-color: #000;
  color: #fff;
}

.ant-table-tbody > tr:nth-child(even) > td {
  background-color: #222;
}

.ant-table-tbody > tr:hover > td {
  background-color: #444;
}

.ant-pagination-item-active {
  background-color: #00f;
}

.ant-pagination-item-link,
.ant-pagination-item {
  background-color: #222;
  color: #fff;
  border: none;
}

.ant-pagination-item:hover,
.ant-pagination-item-link:hover {
  background-color: #333;
}
