.home {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .logo {
    font-size: 100px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
  }
  