.home {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.home-logo {
  font-size: 100px;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
